p= link_to task.title, task_path(task)
- if task.user.eql?(current_user) || current_user.has_role?(:parent)
  p= link_to t(:edit), edit_task_path(task), remote: true
  p= link_to t(:destroy), task, data: {:confirm => 'Are you sure?'}, :method => :delete, remote: true